/* 
  ------------------
  | resume project |
  ------------------
*/

* {margin: 0; padding: 0; text-decoration: none;}
body {
  background: #EFEFEF;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h2 {
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}
ul, ol {
  list-style-type: none;
}
a {
  color: inherit;
}
* {
  margin: 0;
  padding: 0;
}
hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.topNavBar {
  padding: 20px 0 12px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* 解决伪类遮罩层层叠顺序问题 */
  transition: all .8s;
  color: rgba(255, 255, 255, .6);
}
.topNavBar.sticky {
  background: #fff;
  padding: 10px 0 12px 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, .25);
  z-index: 3;
  color: #53555c;
}
.topNavBar > .topNavBar-inner {
  padding: 0 16px;
}
.topNavBar  a {
  float: left;
}
.topNavBar .logo {
  font-size: 24px;
  font-family: 'Fredoka One', cursive;
  padding-top: 5px;
  padding-bottom: 5px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e06567;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.topNavBar  a > span {
  color: red;
  font-weight: bold;
}
.topNavBar  nav > ul {
  float: right;
}
.topNavBar  nav > ul > li {
  float: left;
  list-style: none;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}
.topNavBar  nav > ul > li.submenu > ul {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin-left: 100%;
  padding: 5px 0;
}
/*下拉菜单动画*/
@keyframes submenuSlide {
  from {
    margin-right: 100%;
  }

  to {
    margin-right: 0;
  }
}
.topNavBar  nav > ul > li.submenu > ul.active {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  animation: submenuSlide .5s;
}
.topNavBar  nav > ul > li.submenu > ul.active > li {
  padding: 10px 15px 10px 10px;
  color: #3d4451;
  background: #fff;
}
.topNavBar  nav > ul > li > a {
  display: inline-block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: inherit;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 7px;
  padding-top: 7px;
}
/*topNavBar动画*/
@keyframes slideBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
.topNavBar  nav > ul > li > a:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e06567;
  height: 3px;
  animation: slideBar .5s;
}
.banner {
  background-image: url(./img/cute_cover.jpg);
  height: 750px;
  background-position: center center;
  background-size: cover;
}
/* 遮罩层 */
.banner::after {
  content: '';
  height: 750px;
  width: 100%;
  background: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
} 
/* .banner .mask {
  height: 750px;
  background-color: rgba(0,0,0,.6);
} */
body > main {
  margin-top: -20%;
  position: relative;
  z-index: 2;
}
.userCard {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .5);
}
.userCard .picture img {
  display: block;
}
.userCard .welcome {
  display: inline-block;
  background-color: #e8676b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  position: relative;
  padding: 5px 15px;
  margin-bottom: 15px;
}
.userCard .welcome::before {
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 4px;
  border: 10px solid transparent;
  border-left-color: #e8676b;
  border-top: 0px;
}
.userCard .pictureAndText {
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.userCard .picture,
.userCard .text {
  float: left;
}
.userCard .text {
  margin-left: 60px;
}
.userCard .text h1 {
  margin-top: 12px;
}
.userCard .text p {
  margin-top: 3px;
}
.userCard .text hr {
  margin: 25px auto;
  
}
.userCard dl dt,
.userCard dl dd {
  line-height: 1;
  float: left;
  font-size: 15px;
  padding: 10px 0;
}
.userCard dl dt {
  width: 30%;
  font-weight: bold;
}
.userCard dl dd {
  width: 70%;
  color: #9da0a7;
}
.userCard > footer.media {
  background: #e8676a;
  text-align: center;
}
.userCard > footer.media > a {
  width: 44px;
  padding: 10px 0;
  line-height: 24px;
  display: inline-block;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover {
  background-color: #D15C61;
}
.userCard svg {
  width: 24px;
  height: 24px;
  fill: #fff;
  vertical-align: top;
}
body > main > div.download {
  text-align: center;
}
body > main > div.download > .download-button {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #CDCFD1;
  background: #EFEFEF;
  border-radius: 3px;
  color: #3d4451;
  font-weight: bold;
  margin-top: 32px;
}
body > main > div.download > .download-button:hover {
  transition: box-shadow .3s;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.self-intro {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 940px;
  margin: 45px auto 0px auto;
  text-align: center;
  line-height: 1.8;
  font-size: 18px;
  position: relative;
}
.self-intro::before {
  content: '';
  display: block;
  background: #e8676a;
  height: 54px;
  width: 5px;
  position: absolute;
  left: 150px;
  top: 4px;
  border-radius: 2px;
}
section.skills {
  max-width: 940px;
  margin: 65px auto 0px auto;
}
section.skills > ol {
  background: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .5);
  padding: 42px 50px;
  margin-top: 30px;
}
section.skills > ol > li {
  float: left;
  width: 48%;
  box-sizing: border-box;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
section.skills > ol > li:nth-child(even) {
  float: right;
}
section.skills .progress-bar {
  height: 5px;
  background: #cd676b;
  border-radius: 2px;
  margin: 5px 0;
}
section.skills .progress-bar .progress {
  height: 100%;
  width: 75%;
  background: #f5e1e1;
  border-radius: 2px;
}
section.portfolio {
  max-width: 940px;
  margin: 65px auto 100px auto;
  text-align: center;
}
section.portfolio > nav {
  display: inline-block;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 28px;
}
section.portfolio > nav > ol {
  display: inline-block;
  vertical-align: top;
}
section.portfolio > nav > ol > li {
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
/* 去除左边margin，使其居中 */
section.portfolio > nav > ol > li:first-child {
  margin-left: 0;
}
section.portfolio > nav > .bar {
  height: 5px;
  background: #fff;
  margin-top: 5px;
  border-radius: 2px;
}
section.portfolio > nav > .bar > .bar-inner {
  height: 100%;
  background: #cd676b;
  border-radius: 2px;
  cursor: pointer;
  transition: all .3s;
}
section.portfolio > nav > .bar.state-1 > .bar-inner {
  margin-left: 0;
  width: 15%;
}
section.portfolio > nav > .bar.state-2 > .bar-inner {
  margin-left: 50px;
  width: 18%;
}
section.portfolio > nav > .bar.state-3 > .bar-inner {
  margin-left: 100px;
  width: 51%;
}
section.portfolio > .works {
  height: 576px;
  position: relative;
}
section.portfolio > .works > .big {
  position: absolute;
  top: 0;
  left: 0;
}
section.portfolio > .works > .small:nth-of-type(2) {
  position: absolute;
  top: 298px;
  left: 645px;
}
section.portfolio > .works > .small:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 645px;
}
